@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bolder 18px 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 30px;
}
body{
    font-weight: 500;
}

